{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<div style="display:none">{% include '/svg/svg.svg' %}</div>
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
    {% block header %}
        <div class="wrapper">
        <div class="prenav"> 
            <div class="row grid">
                <div class="column text-left" role="banner">
                   <svg class="header-logo"><defs><title>Sacred Heart Lanse Scool</title></defs></svg>
                </div>
                <div class="column"></div>
                <div class="column">
                    <ul class="navbar prenav-menu">
                    {# TODO: Make these a menu so they can change them at will #}
                        <li><a href="#">My Student's Progress</a></li>
                        <li><a href="#">Smart Tuition</a></li>
                    </ul>
                </div>
            </div>
            </div>
            <nav class="nav-main" id="nav-main" role="navigation">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </nav>
            <!-- #nav -->
        </div>
    {% endblock %}
</header>

<section class="content-wrapper" id="content" role="main">
    {% if title %}
        <h1>{{title}}</h1>
    {% endif %}
    <div class="wrapper {{sidebar_class}}">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </div>
    {% if sidebar %}
        <aside class="layout-sidebar">
            {{sidebar}}
        </aside>
    {% endif %}
</section>

{% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}</body></html>
