{% if menu %}
	<ul class="navbar">
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }} {{ item.children ? 'dropdown' : '' }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }} {{ item.children ? '<span class="dropbtn"><span>' : '' }}</a>
			{% include "menu-children.twig" with {'menu': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
